<div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" class="loginstart">
  <section>
    <img src="assets/images/login/login" />
  </section>
  <section fxLayout="column" fxLayoutGap="23px">
    <mat-card class="card">
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title><h1 class="title">Instagram</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          (ngSubmit)="submit(f)"
          #f="ngForm"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="text" name="password" />
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
              Login
            </button>
          </mat-card-actions>
        </form>
        <br />
        <hr />
        <section fxLayout fxLayoutAlign="center">Or</section>
        <hr />
        <br />
        <section fxLayout fxLayoutAlign="center" style="cursor: pointer;">
          <img
            src="assets/images/login/facebook.png"
            style="height: 25px;"
          />&nbsp;
          <p style="font-size: 18px;">Log in with Facebook</p>
        </section>
        <br /><br />
        <section fxLayout fxLayoutAlign="center" style="cursor: pointer;">
          <p>Forgot Password?</p>
        </section>
      </mat-card-content>
    </mat-card>
    <section>
      <mat-card>
        <mat-card-content fxLayoutAlign="center">
          Don't have an account? <a routerLink="signup">Sign up</a>
        </mat-card-content>
      </mat-card>
    </section>
  </section>
</div>
