<div
  p
  style="padding-top: 50px;"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="0px"
>
  <section>
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <img style="width: 100px;" src="assets\images\forgetpassword\lock.jpg" />
      <p style="font-family: sans-serif;"><b>Trouble Logging In?</b></p>
      <mat-card-title style="text-align: center;"
        ><h5>
          Enter your email and we'll send you a link to get back into your
          account.
        </h5></mat-card-title
      >
      <mat-card-content>
        <form
          (ngSubmit)="submit(f)"
          #f="ngForm"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" required ngModel />
          </mat-form-field>
          <mat-card-actions
            ><br />
            <button
              class="btn"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="f.invalid"
            >
              Send Login Link
            </button>
          </mat-card-actions>
        </form>
      </mat-card-content>
      <p style="text-align: center;">
        --------------------------- OR ---------------------------
      </p>
      <button class="btn" mat-flat-button>
        <p>Create New Account</p>
      </button>
    </mat-card>
    <section>
      <button mat-raised-button style="width: 350px; height: 32px;">
        <p>Back to Login</p>
      </button>
    </section>
  </section>
</div>
