mat-form-field{
  width: 250px;
  height: 20px;
  padding:18px;
}
mat-card{
  width: 300px;
  height: fit-content;
}
.btn{
  width: 250px;
   height: 32px;
}
.link{
  text-decoration: none;
  color:blue;
}
